<DOCTYPE html>
  <html>
  <head>
  </head>
  <body><h1>Welcome!</h1>
    <form action="/action_page.php" method="get">
      Name: <input type="text" name="user_name"><br>
      <input type="submit" value="Submit">
    </form>
  </body>
  </html>
